<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Room Form Page</title>
    <!-- Google Font Link -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <!-- Bootstrap Link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- CSS File Link -->
    <link rel="stylesheet"  href="{% static 'css/style.css' %}">
  </head>
  <body>
    <div class="container full-body">
      <h1>Room Form</h1>
      <div class="container room-inner-form">
        <form method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" class="btn btn-primary sb-btn" value="Submit">
          <a href="/" class="btn btn-info room-go-back" role="button">Go Back</a>
        </form>
      </div>
    </div>
  </body>
</html>
